[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "toxpiR"]
	path = toxpiR
	url = https://github.com/toxpi/toxpir
	shallow = true
	registered = true
